version: "3.9"

services:
  backend:
    build:
      context: ./backend
    env_file:
      - ./backend/.env.example
    ports:
      - "8000:8000"
    depends_on:
      - db
    networks:
      - appnet

  frontend:
    build:
      context: ./frontend
    environment:
      - VITE_API_BASE_URL=http://localhost:8000
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - appnet

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: aa_denis_fleet
    ports:
      - "5432:5432"
    networks:
      - appnet

  prometheus:
    image: prom/prometheus:v2.54.1
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - appnet
    depends_on:
      - backend

  grafana:
    image: grafana/grafana:11.1.4
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    networks:
      - appnet
    volumes:
      - ./monitoring/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./monitoring/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - ./monitoring/grafana/dashboards:/etc/grafana/provisioning/dashboards

networks:
  appnet:
    driver: bridge

